@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu-Light.ttf) format('ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu-Bold.ttf) format('ttf');
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 700vh;
}

#header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    color: #ffffff;
    border: 1px #ffffff dashed;
}

#header > div > h1 {
    font-family: 'Ubuntu', sans-serif;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 99vh;
    background-color: red;
}

.person {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 65%;
    border: 1px #ffffff dashed;
}

.photo {
    width: 100%;
    height: 80%;
    border: 1px yellow dashed;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    border: 1px yellow dashed;
}

.info {
    width: 30%;
    height: 65%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
    border: 1px #ffffff dashed;
}

#footer {
    background-color: #808080;
}

.gradient1{
    background: linear-gradient(#0b061a, #2c1868);
}

.gradient2{
    background: linear-gradient(#341c7d, #096565);
}

.gradient3{
    background: linear-gradient(#096565, #174965);
}

.gradient4{
    background: linear-gradient(#203765, #2B2265);
}

.gradient5{
    background: linear-gradient(#301765, #370965);
}

.gradient6{
    background: linear-gradient(#370965, #4a095a);
}

/* .gradient7{
    background: linear-gradient(#520956, #65094B);
} */