@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Light.ttf) format("ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Bold.ttf) format("ttf");
  font-style: normal;
  font-weight: 700;
}

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}