/* Основные стили */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: auto;
  }
  
  .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  #introduction {
    height: 80vh;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
  }
  
  #education {
    height: 25vh;
    background-color: #ffffff;
  }
  
  #about {
    height: 25vh;
    background-color: #f0f0f0;
  }
  
  #courses {
    height: 50vh;
    background-color: #ffffff;
  }
  
  #contacts {
    height: 25vh;
    background-color: #f0f0f0;
  }
  
  /* Стили секции "Представление" */
  
  #introduction > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  
  #introduction > div > p {
    font-size: 36px;
    font-weight: 700;
  }
  
  #introduction > div > button {
    background-color: #2f2fa3;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  
  #introduction > div > button:hover {
    background-color: #ffffff;
    color: #2f2fa3;
    cursor: pointer;
  }
  
  /* Стили секции "Обучение" */
  
  #education > div {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
  }
  
  #education > div > h1 {
    align-self: center;
    color: #2f2fa3;
  }
  
  #education > div > ul {
    align-self: left;
    list-style-type: circle;
  }
  
  /* Стили секции "О нас" */
  
  #about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 80%;
  }
  
  #about > div > h1 {
    color: #2f2fa3;
  }
  
  /* Стили секции "Курсы" */
  
  #courses > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 80%;
  }
  
  .course_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 87%;
    background-color: #f0f0f0;
  }
  
  .course_block:hover {
    transform: scale(1.10);
    cursor: pointer;
  }
  
  .course_block > img {
    max-width: 40%;
    max-height: 40%;
  }
  
  /* Стили секции "Контакты" */
  
  #contacts > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 80%;
  }
  
  #contacts > div > h1 {
    color: #2f2fa3;
  }
  
  /*Стили подвала*/
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #2f2fa3;
    color: #ffffff;
  }
